.ng-sub-title {
    color: #b6b7b9;
    font-size: .42666667rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 .33333333rem;
}

.ng-sub-title .ng-sub-title-word {
    letter-spacing: .06666667rem;
}

.ng-sub-title .ng-sub-title-more {
    cursor: pointer;
    margin-right: .26666667rem;
}